{% extends "settings/settings.html" %}
{% block settings %}
    <div id="forecast-target-view" class="h-full flex flex-col">
        <div id="navBar" class="flex-shrink-0" hx-get="{{ nav_url }}" hx-trigger="load"></div>
        {% if not has_company %}
            {% include "components/empty_states/activate_company.html" %}
        {% elif not has_forecast_types %}
            <div class="flex-1 flex flex-col items-center justify-center">
                {% trans 'No Forecast Type set. Set it from settings.' as empty_state_message %}
                {% include "components/empty_state.html" with message=empty_state_message %}
                {% has_perm "forecast.add_forecastytpe"  as add_forcasttype %}
                {% if  add_forcasttype %}
                    <button
                        onclick="window.location.href='{% url 'forecast:forecast_type_view' %}'"
                        class="text-sm px-4 py-2 bg-primary-600 rounded-md hover:bg-primary-800 transition duration-300 text-[white] flex"
                    >
                        {% trans "Go To Forecast Type" %}
                    </button>
                {% endif %}
            </div>
        {% else %}
            <div
                id="forecastFilters"
                class="flex-shrink-0"
                hx-get="{% url 'forecast:forecast_target_filters_view' %}?forecast_type={{ current_forecast_type_id|default_if_none:'' }}&period={{ current_period_id|default_if_none:'' }}"
                hx-trigger="load"
            >
            </div>
            <div
                id="mainSession"
                class="flex-1 min-h-0 flex flex-col"
                hx-get="{{ list_url }}?forecast_type={{ current_forecast_type_id|default_if_none:'' }}&period={{ current_period_id|default_if_none:'' }}"
                hx-trigger="load"
            >
            </div>
        {% endif %}
    </div>
{% endblock %}
