{% extends "settings/settings.html" %}
{% block settings %}
    {% has_perm "core.can_view_horilla_import" as view_horilla_import %}
    {% if view_horilla_import %}
        <div id="import-view">
            <p class="text-xs text-gray-500 mb-2">{% trans 'Bulk import records from a file.' %}</p>

            <div
                hx-push-url="false"
                hx-get="{% url 'core:import_tab_view' %}?{{request.GET.urlencode}}"
                hx-trigger="load"
            >
            </div>
        </div>
    {% else %}
        {% include "403.html" with embed=True %}
    {% endif %}
{% endblock %}
